footer {
    /* color: rgb(60, 173, 130); */
    color: white;
    background-color: rgba(6, 57, 114, 0.486);
    padding-top: 2em;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  footer .container1 ul {
    padding-left: 6%;
    list-style-type: disc;
  }
  
  footer .container1 ul li {
    cursor: pointer;
    font-size: 12pt;
    font-weight: 500;
    font-style: italic;
    margin: 0 40px 0 0;
    opacity: 0.7;
    transition: all 0.4s ease;
  }
  
  footer .container1 ul li:hover {
    opacity: 1;
  }
  
  footer .container1 ul li:active {
    opacity: 1;
  }
  
  footer .container1 ul li a {
    text-decoration: none;
    color: inherit;
  }
  
  hr {
    padding: 0;
    margin: 0;
    height: 5px;
    background-color: whitesmoke;
  }
  