
 .collapse{
   margin-left: 900px;
 }



@media screen and (max-width:414px){

  .collapse{
    margin-left: 180px;
   }
 
  
}
@media screen and (min-width:415px) and (max-width:768px){

  .collapse{
    margin-left: 530px;
   }
}

@media screen and (min-width:769px) and (max-width:1024px){

 .collapse{
   margin-left:290px;
 }
  .nav-item{
   padding: 5px;
 }

}
@media screen and (min-width:1025px){
.collapse{
   margin-left:1000px;
 }
  .nav-item{
   padding: 6px;
 }
  
}