.navBarColor{
  /* background-color: #000000; */
  background :linear-gradient(90deg, rgba(5, 33, 65), black);
}
a.nav-link{
  margin: 20px;
  font-size: 15px;
}
a.nav-link:link{
  text-decoration: none;
  color: white;
}
a.nav-link:visited{
  color: white;
  font-weight: bold;
}
a.nav-link:hover{
  background-color: rgba(3, 47, 99, 0.8);
}

.active-nav-link{
  color: rgb(255, 255, 255) !important;
  font-weight: bold !important;
}

span.navbar-toggler-icon {
  color: white !important;
}
button.navbar-toggler{
  border-color: rgb(150, 150, 150) !important;
}