.navBarColor{
  background :linear-gradient(90deg, rgba(5, 33, 65), black);
}
a.nav-link{
  margin: 20px;
  font-size: 15px;
}
a.nav-link:link{
  text-decoration: none;
  color: white;
}
a.nav-link:visited{
  color: white;
  font-weight: bold;
}
a.nav-link:hover{
  background-color: rgba(3, 47, 99, 0.8);
}

.active-nav-link{
  color: rgb(255, 255, 255) !important;
  font-weight: bold !important;
  background-color: rgba(3, 47, 99, 0.8);
}
h1.navBrand-head{
  margin-top: 0px;
  font-size: 25px;
  margin-bottom: 20px;
}
a.dropdown-item:hover{
  background-color: rgb(228, 228, 228) !important;
}

span.navbar-toggler-icon {
  color: white !important;
}
button.navbar-toggler{
  border-color: rgb(150, 150, 150) !important;
}