.container-block {
  margin-top: 130px;
 

}
.check {
  width: 500px;
  margin-left: 770px;
  box-shadow: 0 0 10px #ccc;
 
}



.bar {
  margin-top: 30px;
 background-color: rgb(238, 225, 225);
 box-shadow: 0 0 10px #ccc;
 border-radius: 5px;

 
}

@media screen and (max-width: 414px) {
  .check {
    width: 300px;
    margin-left: 70px;
  }
  .container-block {
    margin-top: 40px;
  }
  
}
@media screen and (min-width: 415px) and (max-width: 768px) {
  .check {
    width: 70vw;
    margin-left: 80px;
  }
  .container-block {
    margin-top: 5vw;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .check {
    width: 60vw;
    margin-left: 70px;
  }
  .container-block {
    margin-top: 60px;
  }
  
}
@media screen and (min-width: 1024px)  {
  .check {
    width: 55vw;
    margin-left: 60px;
    border-radius: 5px;
    
  }
  .container-block {
    margin-top: 5vw;
    
  }
  
}