
.check {
  width: 500px;
  margin-left: 770px;
  box-shadow: 0 0 10px #ccc;
  
}

.bar {
  margin-top: 60px;
  background-color: white;
  box-shadow: 0 0 10px #ccc;
  border-radius: 5px;
}

.tableHeading{
  color: rgba(255, 255, 255, 0.849);
  margin-top: 50px;
 text-align: left;
}

@media screen and (max-width: 414px) {
  .check {
    width: 300px;
    margin-left: 50px;
  }
  .container-block {
    margin-top: 40px;
  }
}
@media screen and (min-width: 415px) and (max-width: 768px) {
  .check {
    width: 70vw;
    margin-left: 80px;
  }
  .container-block {
    margin-top: 5vw;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .check {
    width: 60vw;
    margin-left: 70px;
  }
  .container-block {
    margin-top: 90px;
  }
}
@media screen and (min-width: 1025px) {
  .check {
    width: 35vw;
    margin-left: 200px;
    border-radius: 5px;
  }
  .container-block {
    margin-top: 70px;
  }
}
