.container-block {
  margin-top: 130px;
}
.check {
  width: 500px;
  margin-left: 770px;
  box-shadow: 0 0 10px #ccc;
}

.bar {
  margin-top: 30px;
  background-color: rgb(238, 225, 225);
  box-shadow: 0 0 10px #ccc;
  border-radius: 5px;
  
}

@media screen and (max-width: 414px) {
  .check {
    width: 300px;
    margin-left: 70px;
  }
  .container-block {
    margin-top: 40px;
  }
}
@media screen and (min-width: 415px) and (max-width: 768px) {
  .check {
    width: 70vw;
    margin-left: 80px;
  }
  .container-block {
    margin-top: 5vw;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .check {
    width: 60vw;
    margin-left: 70px;
  }
  .container-block {
    margin-top: 60px;
   
  }
}
@media screen and (min-width: 1025px) {
  .check {
    width: 55vw;
    margin-left: 60px;
    border-radius: 5px;
  }
  .container-block {
    margin-top: 5vw;
  }
} 


/* .container_row:after {
  content: "";
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
}
/* .container{
  width: 100vw;
  float: left;
  display: flex;
  flex-flow: row wrap;
}
/* .container_row{
  width: 100%;
  margin-left: 0;
  float: left;
  height: 100%;
}
.bar {
 
  background-color: rgb(238, 225, 225);
  box-shadow: 0 0 10px #ccc;
  border-radius: 5px;
  width: 500px;
 
}
.check {
  width: 800px;
  margin-left: 100px;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 60px;
  
}

@media screen and (max-width: 414px) {
  .check {
    width: 210px;
    margin-left: 20px;
  }
  
  .container_col{
    float: left;
    padding: 10px;
    
  }
  
  .container_row{
      width: 100%;
      margin-left: 0;
      float: left;
      height: 100%;
    
  }
  .bar {
    
    background-color: rgb(238, 225, 225);
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
   
    width: 370px;
   
  }
  .check {
    width: 300px;
    margin-left: 10px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 60px;
  }

  .container_col1{
    margin-top: 340px ;
    overflow-y: scroll;

  }
 
}
@media screen and (min-width: 415px) and (max-width: 768px) {
 
  .bar {
    background-color: rgb(238, 225, 225);
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
   
    width: 90%;
   
  }

  .container_col1{
    margin-top: 450px ;
  }
   .container_col{
    float: left;
    width: 100vw;
    padding: 20px;
   
  }
  .content-wrap{
    max-height: 200%;
  }
  .container_row{
      width: 100vw;
      margin-left: 0;
      float: left;
      height: 200vh;
  }
  .check {
    width: 560px;
    margin-left: 10px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 60px;
    margin-top: 60px;
  }

}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  
  .bar {
    background-color: rgb(238, 225, 225);
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
    width: 920px;
  }
  .container_col1{
    margin-top: 450px ;
    width: 100%;
   
  } 
   .container_col{
    float: left;
    width: 100%;
    padding: 20px;

   
  }
  .container_row{
      width: 100%;
      margin-left: 0;
      float: left;
     
  }
  .check {
    width: 700px;
    margin-left: 70px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 60px;
    margin-top: 60px;
  } 
   .content-wrap{
    max-height: 200%;
  }

}
@media screen and (min-width: 1025px) {
 
  .bar {
    background-color: rgb(238, 225, 225);
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
    width: 500px;
    margin-left: 100px;
  }
  .container_col1{
    margin-top: 450px ;
    width: 100vw;
   
  } 
   .container_col{
    float: left;
    width: 100vw;
    padding: 20px;

   
  }
  .container_row{
      width: 100%;
      margin-left: 0;
      float: left;
      height: 100vh;
      
  }
  .check {
    width: 500px;
    margin-left: 180px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 60px;
    margin-top: 60px;
  } 
}   */