.heading {
  text-align: center;
  background-color: #ccc;
  font-size: 17px;
}
caption {
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ccc;
}
.container {
  height: 100vh;
}

.abc {
  text-align: center;
}

.table-wrapper {
  overflow-y: scroll;
  width: 100%;
  max-height: 500px;
  border-radius: 10px;
  margin-top: 30px;
}
td,
.abc {
  width: 20px;
  height: 30px;
  background-color: rgba(20, 1, 1, 0);
  color: white;
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
tr {
  align-content: center;
}
tr:hover {
  background-color: gray;
}
