.heading {
  text-align: center;
  background-color: #ccc;
  font-size: 17px;
  position: sticky;
  top: 0;
}

.countryUID {
  text-align: center;
}

div.table {
  display: block;
  overflow-y: scroll;
  overflow-x: scroll;
  border-collapse: collapse;
  width: 100%;
}
.table-wrapper {
  max-height: 1200px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-right: 5px;
}

.tableColumn,
.countryUID {
  width: 20px;
  height: 30px;
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
tr {
  align-content: center;
}
tr:hover {
  background-color: rgb(185, 179, 179);
}

@media screen and (max-width: 414px) {
  div.table {
   
    max-height: 500px;
  }
}
@media screen and (min-width: 415px) and (max-width: 768px) {
  div.table {
    max-height: 770px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  div.table {
    max-height: 1370px;
  }
}
