/*Global View page CSS*/
h1.globalView-Heading, h3.global-subHeading{
  color: white;
}

.globalViewPg-container{
  display: grid;
  /* height: 260px; */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  /* gap: 10px; */
}
div.global-grid-item{
  /* background-color: purple; */
}
.grid-item-1{
  grid-column: span 3;
  grid-row-start: 1;
}
.grid-item-2{
  grid-column: span 3;
  grid-row-start: 2;
}
.grid-item-3{
  grid-column: span 3;
  grid-row-start: 3;
}
.grid-item-4{
  grid-column: span 2;
  grid-row-start: 4;
}
.grid-item-5{
  grid-column-start: 3;
  grid-row-start: 4;
}
.grid-item-5.globalRegionalTable{
  padding: 10px;
}

/* status card */

i.fas{
  font-size: 36px;
  /* text-align: center !important; */
  margin-top: 10px;
}

.statusCardHead-container{
  display: flex;
  justify-content: space-between;
}


/*status card container styles*/
div.cases-card, div.recovered-card, div.deaths-card{
  background-color: white;
  margin: 30px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: left !important;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
h3.statusCardHead{
  display: inline-block;
}
div.statusCardContainer, div.cases-card, div.recovered-card, div.deaths-card{
  display: inline-block;
}
/* div.cases-card{
  background-image: linear-gradient( rgb(167, 79, 243), rgb(144, 19, 254), rgba(118, 24, 201, 0.897));
}
div.recovered-card{
  background-image: linear-gradient(rgb(14, 151, 14), green, green);
}
div.deaths-card{
  background-image: linear-gradient(rgb(226, 130, 5), orange, orange);
} */

/*bar graph css*/
/* canvas{
  height: 500px !important;
  width: 50% !important;
} */

div.regionBarGraph{
  background-color: white;
  /* margin: 30px; */
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}



/*Regional table css*/
/* table.regionTable{
  background-color: white !important;
} */
/* div.globalRegionTable{
  background-color:white;
} */
/* h1.regionTableHeading{
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: left !important;
}
td.regionTable-data, th.regionTable-heading{
  color:white;
  text-align: left;
  padding: 8px;
} */
/* tr.regionTableRow:nth-child(even){background-color: #f2f2f2;} */
/* th.regionTable-heading {
  background-color: rgba(39, 39, 39, 0.788);
  color: white;
} */

div.global-grid-item.grid-item-4.globalRegionalTable{
  margin-left: 3px;
}

.globalRegionTable{
  color: black;
  overflow-x:auto;
  overflow-y: auto;
}

h2.regionTableHeading{
  color: white;
  text-align: left;
}

table#regionTable{
  margin-top: 20px;
 border-collapse: collapse;
  border: 1px solid #ddd;
  /* width: 100%; */
}

th.regionTable-heading, td.regionTable-data {
  text-align: center;
  padding: 8px;
}
tr.regionTableRow{
  background-color: #e4e4e48e;
  color: black;
  font-weight: bold;
}
tr.regionTableRow:nth-child(even){
  background-color: #f2f2f286;
  
}

tr.regionTableRow:hover{
  background-color: #f2f2f2cc;
}

th.regionTable-heading {
  background-color: #ffffff;
  color: black;
}


/*line graph css*/

div.countryLineGraph-div{
  background-color: white;
  margin-bottom: 100px;
}

div.countryGloabBarGraph-div{
  background-color: white;
  margin-bottom: 100px;
}

/*About page css*/
.aboutCard {
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  background-color: white; */
  background-color: white;
  margin: 30px;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.aboutCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.aboutContainer {
  /* padding: 2px 16px; */
}
.aboutImg{
  width: 250px;
  width: 250px;
  border-radius: 5px;
  /* padding-top: 15px; */
}

div.about-body{
  display: inline-flex;
  margin-top: 100px;
}
div.about1{
  margin-right: 60px;
}
div.about2{
  margin-left: 60px;
}