.App {
  /* text-align: center; */
  font-family: sans-serif;
}

html, body, svg{
  min-height:100%;
  overflow: auto !important;
}
body{
  background-color: rgba(230, 230, 230, 0.719) !important;
  height:100vh;
}

/*main grid css*/
.globalView-body{
  margin-top: 5px;
  margin-right: 5px;
}

.grid-container{
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px auto auto auto;
  height:100vh;
}

div.grid-item{
  background-color: lavender;
  border: 3px solid white;
  border-radius: 10px;
}

div.grid-item.item1{
  border: none;
  border-radius: none;
  padding: 30px;
  padding-right: 80px;
}
.item2.card-1, .item3.card-2, .item4.card-3, .item5.card-4{
  margin-top: 5px;
}

.item6.item6.globel-map, .item7.region-table{
  margin-top: 20px;
}
.item8.region-graph-1, .item9.region-graph-2{
  margin-top: 20px;
}

.item1.side-nav{
  grid-row: 1 / 5;
}

.item6.globel-map, .item8.region-graph-1{
  grid-column: 2 / 4;
}

.item7.region-table, .item9.region-graph-2{
  grid-column: 4 / 6;
}

.item10.cases-heading{
  grid-column: 2 / 6;
  grid-row: 1 / 2;

}

img.cases-img-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 150px;
  width: 150px;
}


/*About page*/

section.about-sec{
  position: relative;
}

.custom-shape-divider-top-1621200409 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1621200409 svg {
    position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: 500px;
}

.custom-shape-divider-top-1621200409 .shape-fill {
    fill: #9013FE;
}

.about-body{
  background-image: linear-gradient(to bottom right, rgb(205, 187, 235), rgb(197, 190, 201)) !important;
  height:100vh;
  /* background-color: red !important; */
}