.App {
  text-align: center;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex:1 0 auto;
  margin: 0;
  
}

html,
body,
svg {
  min-height: 100vh;
  overflow: auto !important;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden !important;
}
body {
  background-color: rgba(230, 230, 230, 0.719) !important;
  min-height: 100vh;
}
.content-wrap{
 
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url("./components/images/covid2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
